<%= form_with(url: calendarific_import_company_holidays_path, local: true) do %>
  <h3 class="title is-3">Add state holidays to company</h3>
  <div class="field">
    <label class="label">Select country</label>
    <div class="control">
      <div class="select" name="country">
        <%= select_tag :country, options_for_select(countries_for_select) %> 
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Enter year</label>
    <div class="control">
      <div class="select">
        <%= select_tag :year, options_for_select(Date.today.year..2050) %>
      </div>
    </div>
  </div>
  <div class="control">
    <%= submit_tag 'Insert holidays', class: 'button is-info is-medium' %>
  </div>
<% end %>
