<div class="columns is-desktop is-multiline is-left">
  <div class="column is-half">
    <h3 class="title is-3">Edit holiday: <%= @holiday.name %></h3>
    <%= render 'form', holiday: @holiday %>
    <br>
    <div class="buttons">
      <%= link_to 'Show', holiday_path(id: @holiday.id), class: 'button is-normal'%>
      <%= link_to 'Back', holiday_path, class: 'button is-normal' %>
    </div>
  </div>
</div>
