<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @holiday.date %>
</p>
<br>
<%= link_to 'Edit', edit_company_holiday_path(id: @holiday.id), class: 'button is-primary is-small' %>
<%= link_to 'Back', company_holidays_path, class: 'button is-small' %>
