<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @holiday.date %>
</p>
<br>
<div class="buttons">
  <%= link_to 'Edit', edit_company_holiday_path(id: @holiday.id), class: 'button is-primary is-is-norma' %>
  <%= link_to 'Back', company_holidays_path, class: 'button is-is-normal' %>
</div>
