<div class="column is-two-fifths is-offset-one-quarter">
  <h3 class="title">New Employee</h3>
  <%= render 'form', employee: @employee %>
  <br>
  <%= link_to 'Back', company_path(id: @company.id), class: 'button is-medium' %>
</div>
