---
http_interactions:
- request:
    method: get
    uri: https://calendarific.com/api/v2/holidays?api_key=<SECRET>&country=ZZ&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Time:
      - '1566588359'
    body:
      encoding: ASCII-8BIT
      string: |2-

        {"meta":{"code":200,"error_type":"call failed","error_detail":"Missing required call parameters. See https:\/\/calendarific.com\/ for details."},"response":[]}
  recorded_at: Fri, 23 Aug 2019 19:25:59 GMT
- request:
    method: get
    uri: https://calendarific.com/api/v2/holidays?api_key=&country=ZZ&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Time:
      - '1566665378'
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"code":401,"error_type":"auth failed","error_detail":"Missing or invalid api credentials. See https:\/\/calendarific.com\/api for details."},"response":[]}
  recorded_at: Sat, 24 Aug 2019 16:49:38 GMT
[...]
- request:
    method: get
    uri: https://calendarific.com/api/v2/holidays?api_key=fb6facac013921c3264e4dd7d3b743581e0bab52&country=ZZ&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Time:
      - '1566674802'
    body:
      encoding: UTF-8
      string: |2-

        {"meta":{"code":401,"error_type":"auth failed","error_detail":"Missing or invalid api credentials. See https:\/\/calendarific.com\/api for details."},"response":[]}
  recorded_at: Sat, 24 Aug 2019 19:26:42 GMT
- request:
    method: get
    uri: https://calendarific.com/api/v2/holidays?api_key=fb6facac013921c3264e4dd7d3b743581e0bab54&country=ZZ&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Time:
      - '1566675389'
    body:
      encoding: ASCII-8BIT
      string: |2-

        {"meta":{"code":200,"error_type":"call failed","error_detail":"Missing required call parameters. See https:\/\/calendarific.com\/ for details."},"response":[]}
  recorded_at: Sat, 24 Aug 2019 19:36:29 GMT
recorded_with: VCR 5.0.0
