---
http_interactions:
- request:
    method: get
    uri: https://calendarific.com/api/v2/holidays?api_key=<SECRET>&country=ZZ&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Time:
      - '1566588359'
    body:
      encoding: ASCII-8BIT
      string: |2-

        {"meta":{"code":200,"error_type":"call failed","error_detail":"Missing required call parameters. See https:\/\/calendarific.com\/ for details."},"response":[]}
  recorded_at: Fri, 23 Aug 2019 19:25:59 GMT
recorded_with: VCR 5.0.0
