---
http_interactions:
- request:
    method: get
    uri: https://calendarific.com/api/v2/holidays?api_key=<SECRET>&country=RU&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Time:
      - '1566588357'
    body:
      encoding: ASCII-8BIT
      string: |2-

        {"meta":{"code":200},"response":{"holidays":[{"name":"New Year's Day","description":"Russians celebrate New Year\u2019s Day in accordance with the Gregorian calendar on January 1.","date":{"iso":"2020-01-01","datetime":{"year":2020,"month":1,"day":1}},"type":["National holiday"],"locations":"All","states":"All"},{"name":"New Year Holiday Week","description":"A 2012 decree has extended the number of days, and the dates for the New Year break.","date":{"iso":"2020-01-02","datetime":{"year":2020,"month":1,"day":2}},"type":["National holiday"],"locations":"All","states":"All"},{"name":"New Year Holiday Week","description":"A 2012 decree has extended the number of days, and the dates for the New Year break.","date":{"iso":"2020-01-03","datetime":{"year":2020,"month":1,"day":3}},"type":["National holid[...]
[...]
