<% if object && object.errors.any? %>
  <div id="error_explanation" class="has-text-danger">
    <h2><%= pluralize(object.errors.count, 'error') %> prohibited this from being saved:</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
