<footer class="footer has-background-white">
  <div class="content has-text-centered">
    <p>
      <strong>Staff Planner</strong> by <a href="https://cybergizer.com">Cybergizer</a>
      <%= Date.today.year %>
    </p>
  </div>
</footer>
