<footer class="footer has-background-white">
  <div class="content has-text-centered">
    <p>
      <strong>Staff Planner</strong> by <a href="https://github.com/drujok">Smolin Artur</a>, <a href="https://github.com/EvgeniyR2">Evgeniy Rychkov</a>, <a href="https://github.com/vasilro">Vasilii Rozhdestvenskii</a>. The source code is licensed. Open Source Project. Rubizza, 2019
    </p>
  </div>
</footer>
