<nav class="navbar has-background-white">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/staff_planner.png" alt="logo" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" href="/companies">
            Companies
          </a>
      </div>
      <div class="navbar-item">
        <a class="navbar-item" href="">
            Settings
          </a>
      </div>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-danger is-outlined" href="/accounts/sign_in">
              <span>Login</span>
            </a>
          </p>
          <p class="control">
            <a class="button is-success is-outlined" href="accounts/sign_out">
              <span>Logout</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>