<nav class="navbar has-background-white">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/staff_planner.png" alt="logo" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      </div>
    </div>

    <div class="navbar-end">
       <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item"><%= link_to 'Companies', companies_path %></a> 
            <a class="navbar-item"><%= link_to 'Settings', root_path %></a>
          </div>
        </div>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-danger is-outlined" href="/accounts/sign_in">
              <span>Login</span>
            </a>
          </p>
          <p class="control">
            <%= link_to('Logout', destroy_account_session_path, method: :delete) %> 
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>