<div class="columns is-desktop is-multiline is-vcentered">
  <div class="column is-narrow">
    <h3 class="title">New Event</h3>
    <%= render 'shared/error', object: @event %>
    <%= render 'form', event: @event %>
  </div>
</div>
