<p>Hello <%= @email %>!</p>

<% if @account.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @account.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @account.email %>.</p>
<% end %>
