<h1><%= @company.name %></h1>

<div>
  <%= render 'employees/list', company: @company %></div>
  <a style="padding-right:10px"><a class="button is-small is-success" href='<%= new_company_employee_path(@company) %>'>New employee</a>
</div>


