<%= render 'companies/header' %>

<div>
  <%= render 'employees/list', company: @company %></div>
  <a style="padding-right:10px"><a class="button is-small is-success" href='<%= new_employee_path %>'>New employee</a>
</div>

