<div class="column is-two-fifths is-offset-one-quarter">
  <h3 class="title">Editing Rule</h3>
  <%= render 'form', rule: @rule %>
  <br>
  <%= link_to 'Back', rules_path, class: 'button is-medium' %>
</div>
