<p id="notice"><%= notice %></p>
<h3 class="title">Rules</h3>
<% if @rules.any? %>
  <%= render 'rules/list', rules: @rules %>
<% else %>
  <p>Still no rules!</p>
<% end %>
<br />
<%= link_to 'New Rule', new_company_rule_path, class: 'button is-medium is-success' %>

